@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@using AdSite.Views.Shared
@inject IAuthorizationService AuthorizationService

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (User.IsInRole("Admin"))
{
    <ul class="nav nav-pills">
        <li class="@AdminNavPages.ManageUsersNavClass(ViewContext)"><a asp-action="Index" asp-controller="ManageAccount"><localize name="ManageUsers_Entity"></localize></a></li>
        <li class="@AdminNavPages.CategoriesNavClass(ViewContext)"><a asp-action="Details" asp-controller="Categories"><localize name="Categories_Entity"></localize></a></li>
        <li class="@AdminNavPages.CitiesNavClass(ViewContext)"><a asp-action="Index" asp-controller="Cities"><localize name="Cities_Entity"></localize></a></li>
        <li class="@AdminNavPages.LanguagesNavClass(ViewContext)"><a asp-action="Index" asp-controller="Languages"><localize name="Languages_Entity"></localize></a></li>
        <li class="@AdminNavPages.LocalizationsNavClass(ViewContext)"><a asp-action="Index" asp-controller="Localizations"><localize name="Localizations_Entity"></localize></a></li>
        <li class="@AdminNavPages.WebSettingsNavClass(ViewContext)"><a asp-action="Details" asp-controller="WebSettings"><localize name="WebSettings_Entity"></localize></a></li>
        <li class="@AdminNavPages.CountriesNavClass(ViewContext)"><a asp-action="Index" asp-controller="Countries"><localize name="Countries_Entity"></localize></a></li>
    </ul>

    <br />
}