@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@using AdSite.Views.Shared
@inject IAuthorizationService AuthorizationService

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (User.IsInRole("Admin"))
{
    <ul class="nav nav-pills">
        <li class="@AdminNavPages.ManageUsersNavClass(ViewContext)"><a asp-action="Index" asp-controller="ManageAccount">Manage Users</a></li>
        <li class="@AdminNavPages.CategoriesNavClass(ViewContext)"><a asp-action="Details" asp-controller="Categories">Categories</a></li>
        <li class="@AdminNavPages.CitiesNavClass(ViewContext)"><a asp-action="Index" asp-controller="Cities">Cities</a></li>
        <li class="@AdminNavPages.LanguagesNavClass(ViewContext)"><a asp-action="Index" asp-controller="Languages">Languages</a></li>
        <li class="@AdminNavPages.LocalizationsNavClass(ViewContext)"><a asp-action="Index" asp-controller="Localizations">Localizations</a></li>
        <li class="@AdminNavPages.WebSettingsNavClass(ViewContext)"><a asp-action="Details" asp-controller="WebSettings">Web Settings</a></li>
    </ul>

    <br />
}