@model AdSite.Models.CRUDModels.CategoryFilterViewModel

@if (Model.ComponentCategories != null && Model.ComponentCategories.Any())
{
    @foreach (var category in Model.ComponentCategories)
    {
        @if (category.Children != null && category.Children.Count > 0)
        {
            <li class="categ-1 has_child">
                <a role="button"
                   aria-expanded="true"
                   class="@(category.ID == Model.SelectedCategoryId ? "active-category" : String.Empty )"
                   id="@category.ID" value="@category.ID"
                   onclick="submitModel('@category.ID'); return false;"
                   >
                    <span class="categ-1-label">
                        @category.Name
                    </span>
                    <span class="section-sb-toggle opened"><span class="section-sb-ico"></span></span>
                </a>
                <ul style="display:block">
                    @await Component.InvokeAsync("CategoriesFilter", new { categories = category.Children, isFirstCall = false, selectedCategoryId = Model.SelectedCategoryId })
                </ul>
            </li>
        }
        else
        {
            <li class="categ-1">
                <a role="button"
                   aria-expanded="true"
                   class="@(category.ID == Model.SelectedCategoryId ? "active-category" : String.Empty )"
                   id="@category.ID" value="@category.ID" 
                   onclick="submitModel('@category.ID'); return false;">
                    <span class="categ-1-label">@category.Name</span>
                </a>
            </li>
        }
    }

    <input type="hidden" name="CategoryId" id="hiddenCategoryId"  value="@Model.SelectedCategoryId"/>
    <script>
    function submitModel(categoryId)
    {
        document.getElementById('hiddenCategoryId').value = categoryId ;
        document.getElementById('form').submit();
    }
    </script>
}