@model AdSite.Models.CRUDModels.AdViewModel
@using AdSite.Views.Shared;
@using Microsoft.AspNetCore.Html;
@inject UserManager<ApplicationUser> UserManager
@section Scripts {
    <script src="~/js/jquery.bxslider.min.js" asp-append-version="true"></script>
}

@{
    const int NUMBER_OF_RELATED_ADS = 4;
    int relatedAdsCounter = 0;
    int numberOfRelatedAdGroups = Model.RelatedAds.Count / NUMBER_OF_RELATED_ADS;
    int numberOfRelatedAdGroupsResto = Model.RelatedAds.Count % NUMBER_OF_RELATED_ADS;

    int numberOfGroupsOfRelatedLinks = numberOfRelatedAdGroups + numberOfRelatedAdGroupsResto;
}

<br />
<hr />
<main>
    <section class="container">        
        <!-- Single Product - start -->
        <div class="prod-wrap">

            <!-- Product Images -->
            <div class="prod-slider-wrap">
                <div class="prod-slider">
                    <div class="bx-wrapper" style="max-width: 100%;">
                        <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative;">
                            <ul class="prod-slider-car">
                                @if (Model.AdDetail != null && Model.AdDetail.AdDetailPictures != null)
                                {
                                    @foreach (var picture in Model.AdDetail.AdDetailPictures)
                                    {
                                        <li>
                                            <a data-fancybox-group="product" class="fancy-img">
                                                <img src="data:image;base64,@System.Convert.ToBase64String(picture.File)" />
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div><div class="bx-controls bx-has-controls-direction"></div>
                    </div>
                </div>
                <div class="prod-thumbs">
                    <div class="bx-wrapper" style="max-width: 25032px; margin: 0px auto;">
                        <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 102px;">
                            <ul class="prod-thumbs-car">
                                @if (Model.AdDetail != null && Model.AdDetail.AdDetailPictures != null)
                                {
                                    int counter = 0;
                                    @foreach (var picture in Model.AdDetail.AdDetailPictures)
                                    {
                                        <li>
                                            <a data-slide-index="@counter" href="#" class="">
                                                <img src="data:image;base64,@System.Convert.ToBase64String(picture.File)" />
                                            </a>
                                        </li>

                                        counter++;
                                    }
                                }
                            </ul>
                        </div><div class="bx-controls bx-has-controls-direction"></div>
                    </div>
                </div>
            </div>

            <!-- Product Description/Info -->
            <div class="prod-cont">
                <h1 class="main-ttl"><span>@Html.DisplayFor(model => model.Name)</span></h1>

                <div class="prod-cont-txt">
                    @if (Model.AdDetail != null)
                    {
                        @Html.DisplayFor(model => model.AdDetail.Description)
                    }
                </div>

                <div class="prod-info">
                    <p class="prod-price">
                        <b class="item_current_price">$ @Model.Price</b>
                    </p>
                </div>
                <ul class="prod-i-props">
                    <li>
                        <b><localize name="Ads_OwnerName"></localize></b> <i class='fa fa-user'></i> @Model.Owner?.UserName
                    </li>
                    <li>
                        <b><localize name="Ads_OwnerNumber"></localize></b> <i class='fa fa-phone'></i> @Model.Owner?.PhoneNumber
                    </li>
                    <li>
                        <b><localize name="Ads_OwnerMail"></localize></b> <i class='fa fa-envelope'></i> @Model.Owner?.Email
                    </li>
                    <li>
                        <b><localize name="Ads_City"></localize></b> <i class="fa fa-fort-awesome"></i> @Model.City?.Name
                    </li>
                    <li>
                        <b><localize name="Ads_Category"></localize></b> <i class="fa fa-folder-open"></i> @Model.Category?.Name
                    </li>
                </ul>

                <p class="prod-actions">
                    @if (Model.IsInWishlist)
                    {
                        <a asp-action="Delete"
                           asp-controller="Wishlist"
                           asp-route-adId=@Model.ID
                           class="prodlist-i-favorites">
                            <i class="fa fa-heart" style="color: crimson"></i><localize name="General_DeleteFromWishlist"></localize>
                        </a>
                    }
                    else
                    {
                        <a asp-action="Create"
                           asp-controller="Wishlist"
                           asp-route-adId=@Model.ID
                           class="prodlist-i-favorites">
                            <i class="fa fa-heart"></i><localize name="General_AddToWishlist"></localize>
                        </a>
                    }

                    <a href="#"> <i class="fa fa-facebook-f"></i> <localize name="General_ShareOnFacebook"></localize>  </a>
                    <a onclick="window.print();" href="#"> <i class="fa fa-print"></i> <localize name="General_Print"></localize> </a>
                    @if ((User.IsInRole("User") && UserManager.GetUserId(User) == Model.Owner.Id) || User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@Model.ID"> <localize name="General_Edit"></localize> <i class="fa fa-edit"></i> </a>
                        <a asp-action="Delete" asp-route-id="@Model.ID"> <localize name="General_Delete"></localize> <i class="fa fa-trash"></i> </a>
                    }

                    <div style="color: cadetblue;"> <localize name="Ads_AdCreatedDate"></localize> : @Model.CreatedAt.ToUniversalTime() </div>
                </p>
            </div>

        </div>
        <!-- Single Product - end -->
        <!-- Related Products - start -->
        <div class="prod-related">
            <h2><span> <localize name="Ads_RelatedAds"></localize></span></h2>
            <div class="prod-related-car" id="prod-related-car">
                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                    <ul class="slides" style="width: 1000%; transition-duration: 0s; transform: translate3d(-228px, 0px, 0px);">
                        @for (int i = 0; i < numberOfGroupsOfRelatedLinks; i++)
                        {
                            <li class="prod-rel-wrap clone" aria-hidden="true" style="width: 228px; margin-right: 0px; float: left; display: block;">
                                @for (int j = 0; j < NUMBER_OF_RELATED_ADS; j++)
                                {
                                    if (relatedAdsCounter < Model.RelatedAds.Count)
                                    {
                                        <div class="prod-rel">
                                            <a class="prod-rel-img" asp-action="Details" asp-route-id="@Model.RelatedAds[relatedAdsCounter].ID">
                                                @if (Model.RelatedAds[relatedAdsCounter].MainPicture != null)
                                                {
                                                    <img src='data:image;base64,@System.Convert.ToBase64String(Model.RelatedAds[relatedAdsCounter].MainPicture)' />
                                                }
                                                else
                                                {
                                                    <img src='~/img/300x311.png' />
                                                }
                                            </a>
                                            <div class="prod-rel-cont">
                                                <h3><a asp-action="Details" asp-route-id="@Model.RelatedAds[relatedAdsCounter].ID">@Model.RelatedAds[relatedAdsCounter].Name</a></h3>
                                                <div class="prodlist-i-txt">
                                                    
                                                </div>
                                                <div class="prod-rel-actions">
                                                    <span class="prod-rel-price">
                                                        <b>$ @Model.RelatedAds[relatedAdsCounter].Price</b>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    relatedAdsCounter++;
                                }
                            </li>
                        }
                    </ul>
                </div><ol class="flex-control-nav flex-control-paging"><li><a href="#" class="flex-active">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#">Previous</a></li><li class="flex-nav-next"><a class="flex-next" href="#">Next</a></li></ul>
            </div>
        </div>
        <!-- Related Products - end -->

    </section>
</main>
<br />
