@model AdSite.Models.CRUDModels.AdEditModel
@using AdSite.Views.Shared;

@section Scripts {
    <script src="~/extendedJs/fileUpload.js"></script>
}

<h2><localize name="Ad_Edit"></localize></h2>

<br />

<div class="container">
    <div class="modal fade" tabindex="-1" id="loginModal"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <a type="button" class="close" asp-action="MyAds">
                        ×
                    </a>
                    <h4 class="modal-title"><localize name="Ad_Edit"></localize></h4>
                </div>
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div class="modal-body">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label"><localize name="Ad_Field_Name"></localize> </label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label"><localize name="Ad_Field_Description"></localize> </label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label"><localize name="Ad_Field_Price"></localize></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label"><localize name="Ad_Fields_City"></localize></label>
                            <select asp-for="CityId"
                                    class="form-control"
                                    asp-items="@(new SelectList(@ViewBag.Cities,"Id", "Name"))"></select>

                        </div>

                        <div class="form-group">
                            <label class="control-label"><localize name="Ad_Fields_Category"></localize></label>
                            <select asp-for="CategoryId"
                                    class="form-control"
                                    asp-items="@(new SelectList(@ViewBag.Categories,"Id", "Name"))"></select>

                        </div>

                        <div class="form-group">
                            <label class="control-label">Please select the main thumbnail picture. This picture will be shown on ads timeline. </label>

                        </div>

                        <div class="form-group">
                            <p><localize name="Ad_Fields_Upload"></localize></p>
                            <span class="btn btn-success fileinput-button">
                                <span><localize name="Ad_SelectAttachment"></localize></span>
                                <br />
                                <input type="file" name="files" id="files" multiple accept="image/jpeg, image/png, image/gif," />
                            </span>
                            <br />
                        </div>
                        
                        <div class="form-group">
                            <output id="Filelist"></output>
                            <input id="MainPictureFile" asp-for="MainPictureFile" value="@(ViewBag.MainPictureSerializedString)" class="form-control" type="hidden" />
                            <input id="Pictures" asp-for="SerializedAdDetailsPictures" value="@(ViewBag.SerializedPictures)" class="form-control" type="hidden" />

                            <input type="hidden" asp-for="ID" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default"><localize name="General_Save"></localize></button>
                        <a asp-action="MyAds" class="btn btn-default"><localize name="General_BackToList"></localize></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
