@model PaginatedList<AdSite.Models.CRUDModels.AdGridViewModel>
@using AdSite.Views.Shared;
@using AdSite.Helpers;

@{
    string name = @Html.DisplayNameFor(model => model.FirstOrDefault().Name);
    string selectedName = ViewData["CurrentColumn"]?.ToString() == name ?
        "<option selected>" + name + "</option>" :
        "<option>" + name + "</option>";

    string sortCheapest = "Cheapest";
    string selectedCheapest = ViewData["SortColumn"]?.ToString() == sortCheapest ?
        "<option selected>" + sortCheapest + "</option>" :
        "<option>" + sortCheapest + "</option>";

    string sortPriciest = "Priciest";
    string selectedPriciest = ViewData["SortColumn"]?.ToString() == sortPriciest ?
        "<option selected>" + sortPriciest + "</option>" :
        "<option>" + sortPriciest + "</option>";

    string sortLatest = "Latest";
    string selectedLatest = ViewData["SortColumn"]?.ToString() == sortLatest ?
        "<option selected>" + sortLatest + "</option>" :
        "<option>" + sortLatest + "</option>";

}

@section Scripts {
    <script src="~/js/ion.rangeSlider.min.js" asp-append-version="true"></script>
    <script src="~/js/plugins.js"></script>
}

<br />

<form id="form" method="post" asp-action="Index">
    <div class="form-actions no-color row">
        <div class="col-sm-5">
            <div class="col-sm-3">
                <localize name="General_FindBy"></localize>
            </div>
            <div class="col-sm-5">
                <select name="ColumnName" class="form-control">
                    @Html.Raw(selectedName)
                </select>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="col-sm-10" style="padding-left:0px; padding-right:0px">
                <input type="text" name="SearchString" value="@ViewData["currentFilter"]" class="form-control" />
            </div>
            <div class="col-sm-2" style="padding-left:0px; padding-right:0px">
                <button type="submit" class="form-control"> <i class="fa fa-search"></i> </button>
            </div>
        </div>

        <div class="col-sm-2">
            <select name="SortColumn" class="form-control" onchange="this.form.submit();">
                @Html.Raw(selectedCheapest)
                @Html.Raw(selectedPriciest)
                @Html.Raw(selectedLatest)
            </select>
        </div>
    </div>


    <br />

    <main>
        <section class="container">

            <div class="section-sb">
                <!--Loading ad category filters -->
                <div class="section-sb-current">
                    <h3><a><localize name="Category_Entity"></localize> <span id="section-sb-toggle" class="section-sb-toggle"><span class="section-sb-ico"></span></span></a></h3>
                    <ul class="section-sb-list" id="section-sb-list">
                        @await Component.InvokeAsync("CategoriesFilter", new { isFirstCall = true, selectedCategoryId = ViewData["CategoryId"] })
                    </ul>
                </div>

                <div class="section-filter">
                    <div class="section-filter-cont">

                        <!--Price Filter-->
                        <div class="section-filter-price">
                            <div class="range-slider section-filter-price" data-min="0" data-max="1000" data-from="0" data-to="1000" data-prefix="$" data-grid="false"></div>
                        </div>

                        <!--Cities Filter-->
                        <div class="section-filter-item opened">
                            <p class="section-filter-ttl"><localize name="City_Entity"></localize> <i class="fa fa-angle-down"></i></p>
                            @await Component.InvokeAsync("CitiesFilter", new { isFirstCall = true, cityIds = ViewData["CityIds"] })
                        </div>
                    </div>
                </div>

            </div>



            <!--Loading ad section -->
            <div class="section-cont">
                <div class="prod-items section-items">

                    @foreach (var gridAd in Model)
                    {
                        <div class="prodlist-i">
                            <a class="prodlist-i-img" asp-action="Details" asp-route-id="@gridAd.ID">
                                @if (gridAd.MainPicture != null)
                                {
                                    <img src='data:image;base64,@System.Convert.ToBase64String(gridAd.MainPicture)' />
                                }
                                else
                                {
                                    <img src='~/img/300x311.png' />
                                }
                            </a>
                            <div class="prodlist-i-cont">
                                <h3><a asp-action="Details" asp-route-id="@gridAd.ID">@gridAd.Name</a></h3>
                                <div class="prodlist-i-txt">
                                    @gridAd.Description
                                </div>
                                <div class="prodlist-i-action">
                                    <span class="prodlist-i-price">
                                        <b>$ @gridAd.Price</b>
                                    </span>
                                </div>
                                <p class="prodlist-i-info">
                                    @if (gridAd.IsInWishlist)
                                    {
                                        <a asp-action="Delete"
                                           asp-controller="Wishlist"
                                           asp-route-adId=@gridAd.ID
                                           class="prodlist-i-favorites">
                                            <i class="fa fa-heart" style="color: crimson"></i><localize name="General_DeleteFromWishlist"></localize>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="Create"
                                           asp-controller="Wishlist"
                                           asp-route-adId=@gridAd.ID
                                           class="prodlist-i-favorites">
                                            <i class="fa fa-heart"></i><localize name="General_AddToWishlist"></localize>
                                        </a>
                                    }
                                </p>
                            </div>

                            <div class="prodlist-i-props-wrap">
                                <ul class="prodlist-i-props">
                                    <li>
                                        <b><localize name="Owner_Username"></localize></b> <i class='fa fa-user'></i> @gridAd.Owner?.UserName
                                    </li>
                                    <li>
                                        <b><localize name="Owner_Phone"></localize></b> <i class='fa fa-phone'></i> @gridAd.Owner?.PhoneNumber
                                    </li>
                                    <li>
                                        <b><localize name="Owner_Mail"></localize></b> <i class='fa fa-envelope'></i> @gridAd.Owner?.Email
                                    </li>
                                    <li>
                                        <b><localize name="City_Entity"></localize></b> <i class="fa fa-fort-awesome"></i> @gridAd.City?.Name
                                    </li>
                                    <li>
                                        <b><localize name="Category_Entity"></localize></b> <i class="fa fa-folder-open"></i> @gridAd.Category?.Name
                                    </li>
                                </ul>
                            </div>

                        </div>
                    }
                </div>
            </div>


            @if (Model.TotalPages > 1)
            {

                int counter = Model.PagesBefore;
                int forwardCounter = 1;
                <ul class="pagi">

                    @if (Model.PageIndex - Model.PagesBefore > 1)
                    {
                        <li class="pagi-prev">
                            <input asp-action="Index" asp-controller="Ads" 
                               type="submit" value="@(Model.PageIndex - counter)"
                                   name="PageNumber" 
                                   id="@(Model.PageIndex - counter)"
                                   onclick="this.form.submit();"
                                   class="form-control"
                                   />
                                <i class="fa fa-angle-double-left"></i>
                        </li>
                    }

                    @while (counter > 0)
                    {
                        <li>
                            <input asp-action="Index" asp-controller="Ads" 
                                   type="submit" value="@(Model.PageIndex - counter)"
                                   name="PageNumber"
                                   id="@(Model.PageIndex - counter)"
                                   onclick="this.form.submit();"
                                   class="form-control"
                                   />
                        </li>
                        counter = counter - 1;
                    }

                    <li class="active">
                        <a>
                            @Model.PageIndex
                        </a>
                    </li>

                    @while (forwardCounter <= Model.PagesLeft)
                    {
                        <li>
                            <input 
                                   asp-action="Index" asp-controller="Ads" 
                                   type="submit" 
                                   value="@(Model.PageIndex + forwardCounter)" 
                                   name="PageNumber"
                                   id="@(Model.PageIndex + forwardCounter)"
                                   onclick="this.form.submit();"
                                   class="form-control"
                                   />
                        </li>
                        forwardCounter = forwardCounter + 1;
                    }

                    @if (Model.TotalPages - Model.PageIndex > Model.PagesLeft)
                    {

                        <li class="pagi-next">
                            <input asp-action="Index" asp-controller="Ads" 
                                   type="submit" 
                                   value="@(Model.PageIndex - counter)"
                                   name="PageNumber"
                                   id="@(Model.PageIndex - counter)"
                                   onclick="this.form.submit();"
                                   class="form-control"
                                   />
                                <i class="fa fa-angle-double-right"></i>
                        </li>
                    }

                </ul>
            }

        </section>
    </main>
</form>
<br />