@model PaginatedList<AdSite.Models.CRUDModels.AdGridViewModel>
@using AdSite.Views.Shared;
@using AdSite.Helpers;
@{
    UsersNavPages.AddActivePage(ViewContext, UsersNavPages.MyAds);
}
@await Html.PartialAsync("_UsersNavigationPartial")



@{
    Guid categoryId = (String.IsNullOrEmpty(Context.Request.Query["categoryId"]) ? Guid.Empty : Guid.Parse(Context.Request.Query["categoryId"]));

    string name = @Html.DisplayNameFor(model => model.FirstOrDefault().Name);
    string selectedName = ViewData["CurrentColumn"]?.ToString() == name ?
        "<option selected>" + name + "</option>" :
        "<option>" + name + "</option>";
}

<br />

<form asp-action="MyAds" method="get">
    <div class="form-actions no-color row">
        <div class="col-sm-5">
            <div class="col-sm-4">
                <localize name="General_FindBy"></localize>
            </div>
            <div class="col-sm-8">
                <select name="ColumnName" class="form-control">
                    @Html.Raw(selectedName)
                </select>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="col-sm-10" style="padding-left:0px; padding-right:0px">
                <input type="text" name="SearchString" value="@ViewData["currentFilter"]" class="form-control" />
            </div>
            <div class="col-sm-2" style="padding-left:0px; padding-right:0px">
                <button type="submit" class="form-control"> <i class="fa fa-search"></i> </button>
            </div>
        </div>
    </div>
</form>

<br />

<main>
    <section class="container">
        <div class="section-cont section-cont-full">
            <div class="prod-items section-items">

                @foreach (var gridAd in Model)
                {
                <div class="prodlist-i prodlist-inline">
                    <a class="prodlist-i-img" asp-action="Details" asp-route-id="@gridAd.ID">
                        @if (gridAd.MainPicture != null)
                        {
                            <img src='data:image;base64,@System.Convert.ToBase64String(gridAd.MainPicture)' />
                        }
                        else
                        {
                            <img src='~/img/300x311.png' />
                        }
                    </a>
                    <div class="prodlist-i-cont">
                        <h3><a asp-action="Details" asp-route-id="@gridAd.ID">@gridAd.Name</a></h3>
                        <div class="prodlist-i-txt">
                            @gridAd.Description
                        </div>
                        <div class="prodlist-i-action">
                            <span class="prodlist-i-price">
                                <b>$ @gridAd.Price</b>
                            </span>
                        </div>
                    </div>

                    <div class="prodlist-i-props-wrap">
                        <ul class="prodlist-i-props">
                            <li>
                                <b><localize name="Owner_Username"></localize></b> <i class='fa fa-user'></i> @gridAd.Owner?.UserName
                            </li>
                            <li>
                                <b><localize name="Owner_Phone"></localize></b> <i class='fa fa-phone'></i> @gridAd.Owner?.PhoneNumber
                            </li>
                            <li>
                                <b><localize name="Owner_Mail"></localize></b> <i class='fa fa-envelope'></i> @gridAd.Owner?.Email
                            </li>
                            <li>
                                <b><localize name="City_Entity"></localize></b> <i class="fa fa-fort-awesome"></i> @gridAd.City?.Name
                            </li>
                            <li>
                                <b><localize name="Category_Entity"></localize></b> <i class="fa fa-folder-open"></i> @gridAd.Category?.Name
                            </li>
                        </ul>
                    </div>

                </div>
                    <div class="prodlist-inline-actions">
                        <a asp-action="Edit" asp-route-id="@gridAd.ID"> <i class="fa fa-edit fa-2x"></i> </a>
                        <a asp-action="Delete" asp-route-id="@gridAd.ID"> <i class="fa fa-trash fa-2x"></i> </a>
                    </div>
                }
            </div>
        </div>

        <div>
            @if (Model.TotalPages > 1)
            {

                int counter = Model.PagesBefore;
                int forwardCounter = 1;
                <ul class="pagi">

                    @if (Model.PageIndex - Model.PagesBefore > 1)
                    {
                        <li class="pagi-prev">
                            <a asp-action="MyAds"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-sortColumn="@ViewData["SortColumn"]"
                               asp-route-pageNumber="@( 1 )">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                    }

                    @while (counter > 0)
                    {
                        <li>
                            <a asp-action="MyAds"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               asp-route-sortColumn="@ViewData["SortColumn"]"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-pageNumber="@(Model.PageIndex-counter)">
                                @(Model.PageIndex - counter)
                            </a>
                        </li>
                        counter = counter - 1;
                    }

                    <li class="active">
                        <a>
                            @Model.PageIndex
                        </a>
                    </li>

                    @while (forwardCounter <= Model.PagesLeft)
                    {
                        <li>
                            <a asp-action="MyAds"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-sortColumn="@ViewData["SortColumn"]"
                               asp-route-pageNumber="@(Model.PageIndex+forwardCounter)">
                                @(Model.PageIndex + forwardCounter)
                            </a>
                        </li>
                        forwardCounter = forwardCounter + 1;
                    }

                    @if (Model.TotalPages - Model.PageIndex > Model.PagesLeft)
                    {
                        <li class="pagi-next">
                            <a asp-action="MyAds"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               asp-route-sortColumn="@ViewData["SortColumn"]"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-pageNumber="@(Model.TotalPages)">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>
                    }

                </ul>
            }
        </div>

    </section>
</main>

<br />