@model AdSite.Models.DatabaseModels.Language

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Language</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CultureId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CultureId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LanguageName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LanguageName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LanguageShortName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LanguageShortName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
