@model IEnumerable<AdSite.Models.CRUDModels.LanguageViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CultureId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LanguageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LanguageShortName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.LanguageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LanguageShortName)
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.ID"  method="post">
                        <button type="submit" class="btn-link" >Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>