@model IEnumerable<AdSite.Models.CRUDModels.LanguageViewModel>
@using AdSite.Views.Shared;

@{
    AdminNavPages.AddActivePage(ViewContext, AdminNavPages.Languages);

    List<string> columnValues = new List<string>
    { Html.DisplayNameFor(model => model.LanguageName), @Html.DisplayNameFor(model => model.LanguageShortName) };
            List<SelectListItem> columnListItems = columnValues.ConvertAll(a =>
                    {
                        return new SelectListItem()
                        {
                            Text = a.ToString(),
                            Value = a.ToString(),
                            Selected = ViewData["CurrentColumn"]?.ToString() == a.ToString()
                        };
                    });
}

@await Html.PartialAsync("_AdminNavigationPartial")

<!--Localization javascript messages-->
<div style="display:none">
    <div id="deleteMessage">
        <localize name="General_DeleteMessage"></localize>
    </div>
    <div id="languageName">
        <localize name="Language_Fields_LanguageName"></localize>
    </div>
    <div id="languageShortName">
        <localize name="Language_Fields_LanguageShortName"></localize>
    </div>
</div>
<!---->

<p>
    <a asp-action="Create" class="btn btn-primary"><localize name="Language_CreateNew"></localize></a>
</p>
<br />

<form asp-action="Index" method="get">
    <div class="form-actions no-color row">
        <div class="col-sm-5">
            <div class="col-sm-4">
                <localize name="General_FindBy"></localize>
            </div>
            <div class="col-sm-8">
                <select name="ColumnName" class="form-control" asp-items="columnListItems">
                </select>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="col-sm-10" style="padding-left:0px; padding-right:0px">
                <input type="text" name="SearchString" value="@ViewData["currentFilter"]" class="form-control" />
            </div>
            <div class="col-sm-2" style="padding-left:0px; padding-right:0px">
                <button type="submit" class="form-control"> <i class="fa fa-search"></i> </button>
            </div>
        </div>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                <localize name="Language_Fields_LanguageName"></localize>
            </th>
            <th>
                <localize name="Language_Fields_LanguageShortName"></localize>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
                                {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LanguageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LanguageShortName)
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@item.ID" method="post" onsubmit="return confirm($('#deleteMessage').text());">
                    <button type="submit" class="btn-link"><localize name="General_Delete"></localize></button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
