@model AdSite.Models.CRUDModels.WebSettingsViewModel
@using AdSite.Views.Shared;
@{
    AdminNavPages.AddActivePage(ViewContext, AdminNavPages.WebSettings);
}

@await Html.PartialAsync("_AdminNavigationPartial")

<div class="container">
    <div class="modal fade" tabindex="-1" id="loginModal"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <a type="button" class="close" asp-controller="Home" asp-action="Index">
                        ×
                    </a>
                    <h4 class="modal-title"><localize name="WebSettings_Details"></localize></h4>
                </div>
                <div class="modal-body">
                    <dl class="dl-horizontal">
                        <dt>
                            <localize name="WebSettings_Fields_Phone"></localize>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Phone)
                        </dd>
                        <dt>
                            <localize name="WebSettings_Fields_Email"></localize>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt>
                            <localize name="WebSettings_Fields_FacebookSocialLink"></localize>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.FacebookSocialLink)
                        </dd>
                        <dt>
                            <localize name="WebSettings_Fields_InstagramSocialLink"></localize>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.InstagramSocialLink)
                        </dd>
                        <dt>
                            <localize name="WebSettings_Fields_TwitterSocialLink"></localize>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.TwitterSocialLink)
                        </dd>
                        <dt>
                            <localize name="WebSettings_Fields_GooglePlusSocialLink"></localize>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.GooglePlusSocialLink)
                        </dd>
                        <dt>
                            <localize name="WebSettings_Fields_VKSocialLink"></localize>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.VKSocialLink)
                        </dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-default"><localize name="General_Edit"></localize></a> |
                    <a asp-action="Index" asp-controller="Home" class="btn btn-default"><localize name="General_BackToHomepage"></localize></a>
                </div>
            </div>
        </div>
    </div>
</div>

